.article {
  width: 100%;
}

.article p {
  white-space: pre-wrap;
}

.article-head h4 {
  color: rgb(189, 189, 189);
}

.article-content {
  margin-top: 2rem;
}

.article-module {
  margin-top: 1rem;
}

.article-module h2 {
  font-weight: bold;
}

.codeblock {
  background-color: #23262d;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
  overflow-x: auto;
}

.article-image {
  width: 50%;
}
