.background-wrapper {
  position: absolute;
  right: 0;
}

.background-wrapper img {
  width: 50vw;
  height: auto;
}

.section-wrapper {
  margin-top: 2rem;
}

.section-cards {
  margin-top: 1rem;

  display: flex;
  gap: 2rem;

  flex-wrap: wrap;
}

.article-card {
  height: 15rem;
  width: 11rem;
  background-color: rgb(233, 233, 233);
  border-radius: 0.5em;
  filter: drop-shadow(0 0 10px 0px rgba(0, 0, 0, 1));
  cursor: pointer;
  transition: all 200ms;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card-text > * {
  color: rgba(0, 0, 0, 1);
}

.article-card-text {
  color: black;
  padding: 1em;
}

@media screen and (max-width: 1800px) {
  .background-wrapper img {
    width: 50vw;
  }

  header h1 {
    font-size: 4em;
  }
}

@media screen and (max-width: 1500px) {
  .background-wrapper img {
    width: 45vw;
  }

  header h1 {
    font-size: 3.5em;
  }

  header h4 {
    font-size: 1.3em;
  }
}
